.link {
  display: flex;
  padding-top: 15px;

  @include sm {
    padding-top: 25px;
  }
  &__el a {
    width: 25px;
    height: 25px;
    display: inline-block;

    background-image: url("../images/github.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    text-indent: 100%;
    overflow: hidden;
    margin-right: 15px;

    @include sm {
      width: 40px;
      height: 40px;
      margin-right: 25px;
      opacity: 1;
    }

    @include md {
      width: 50px;
      height: 50px;
    }

    &:hover,
    active {
      transform: scale(1.1) !important;
      transition: transform 0.3s ease-in-out, opacity 0.3s;
    }
  }

  .link2 {
    background-image: url("../images/linkedin.svg");
  }

  .link3 {
    background-image: url("../images/logo-behance.svg");
  }
}

.scrollDown {
  width: 25px;
  height: 25px;
  background-image: url("../images/iconmonstr-arrow-65.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 5%;
  animation-name: scrollDown;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  opacity: 0;
}

@keyframes scrollDown {
  0% {
    bottom: 4%;
  }
  100% {
    bottom: 4.5%;
  }
}
.button {
  display: block;
  background-image: url("../images/menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 35px;
  height: 35px;
  position: fixed;
  top: 5%;
  right: 5%;
  transform: translate(0, -50%);
  z-index: 75;
  cursor: pointer;
  opacity: 1;
  border: none;
  opacity: 0;

  @include sm {
    width: 50px;
    height: 50px;
  }

  @include xl {
    top: 50%;
    left: 5%;
  }
}

.button--close {
  background-image: url("../images/closeW.svg");
}

.button-nav {
  display: block;
  background-image: url("../images/closeW.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 75;
  cursor: pointer;
  border: none;

  opacity: 0;
  right: 10%;
}

.button-nav-anim {
  animation-name: buttonNav;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes buttonNav {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
