@font-face {
  font-family: "gilroyBold";
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "gilroyLight";
  src: url("../fonts/Gilroy-Light.woff") format("woff");
}

.display {
  display: none;
}

.blur {
  filter: blur(0px);
  animation: blur 0.3s ease-in forwards;
}

@keyframes blur {
  100% {
    filter: blur(20px) brightness(50%);
  }
}
