:root {
  --color-red: #cd3838;
  --color-blue: #334752;
  --color-white: #fff;
  --color-blue: #0e0e17;
  --color-black: #1c1c1c;
  --font-family: "Muli", sans-serif;
  --font-familyL: "gilroyLight", sans-serif;
  --font-familyB: "gilroyBold", sans-serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
