@import "variables";
@import "reset";
@import "classes";
@import "media-queries";
@import "utils";
@import "base";
body {
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
  display: grid;
  grid:
    "content" 1fr
    "footer" auto /
    auto;
}

.content {
  grid-area: content;
  width: 200vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.nav {
  width: 15%;
  min-width: 400px;
  max-width: 600px;
  height: 100vh;
  color: #1c1c1c;
  position: fixed;
  background-color: #fff;
  z-index: 70;
  transition: transform 0.4s ease-out, opacity 0.4s;
  transform: translate(0);
}

.content-txt {
  margin-top: 150px;

  h2 {
    font-family: var(--font-familyB);
    font-weight: 700;
    font-size: 8rem;
    margin-bottom: 70px;
    color: var(--color-red);
  }
  h3 {
    margin-bottom: 15px;
  }
  ul {
    margin: 70px 0 0 0;
    font-size: 25px;
  }

  & li {
    margin-bottom: 15px;
  }
  & li:before {
    content: "\2192";
    color: var(--color-red);
  }
}
.nav--open {
  transition: transform 0.4s ease-out, opacity 0.4s;
  transform: translate(-100%);
}

.nav--openb {
  transition: transform 0.4s ease-in, opacity 0.4s;
  transform: translate(330%);
}

.translate-content {
  transform: translate(400px, 0);
}

.translate-contentb {
  transform: translate(400px, 0);
}

.content-txt {
  padding: 25px;
}

.content-3 {
  // display: flex;
  // .flex-3 {
  //   width: 20%;
  //   height: 100vh;
  //   background-color: var(--color-red);
  // }

  .flex-3b {
    width: 100%;
    height: 100vh;
  }
}

.button {
  display: block;
  background-image: url("../images/menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
  z-index: 75;
  cursor: pointer;
  transition: transform 0.3s ease-in, opacity 0.3s;
  opacity: 0;
  border: none;
}

.button--open {
  transition: transform 0.3s ease-out, opacity 0.3s;
  transform: translate(950%);
}
h1 {
  font-weight: 800;
  font-family: var(--font-familyB);
  font-size: 9.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 117.6px;
}
h2 {
  font-weight: 300;
  font-family: var(--font-familyL);
  font-size: 4.2rem;
  line-height: 48.43px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.section {
}

.section--1 {
  // background-color: var(--color-red);
  overflow: hidden;
  width: 100vw;
  transition: transform 0.4s ease-out, opacity 0.4s;
}

.content-1 {
  background-color: var(--color-red);
  color: var(--color-white);
  font-family: "gilroyBold";
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section--2,
.section--3 {
  // background-color: var(--color-white);
  // opacity: 0;
  // position: absolute;
  // top: 0;
  // display: none;

  h2 {
    font-weight: 800;
    font-family: var(--font-familyB);
    font-size: 9.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 25px;
    color: var(--color-black);

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    // padding-top: 50px;
  }
}

.scrollDown {
  width: 50px;
  height: 50px;
  background-image: url("../images/iconmonstr-arrow-65.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 5%;
  animation-name: scrollDown;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  opacity: 0;
}

@keyframes scrollDown {
  0% {
    bottom: 4%;
  }
  100% {
    bottom: 4.5%;
  }
}

.wdd2 {
  max-width: 600px;
  padding: 0px 0px 100px 100px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  padding-top: 100px;

  p {
    font-size: 1.8rem;
    font-family: var(--font-familyL);
    line-height: 24px;
  }
  h3 {
    font-size: 1.8rem;
    padding-bottom: 5px;
    padding-top: 20px;
  }
}

.border {
  width: 100%;
  height: 150px;
  max-width: 600px;
  border-right: 5px solid #fff;
}

.wdd {
  .link {
    display: flex;
    margin-top: 15px;
    transform: scale(1);

    &__el {
      width: 40px;
      height: 40px;
      background-image: url("../images/github.svg");
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      cursor: pointer;
      text-indent: 100%;
      margin-right: 25px;
      opacity: 0;
      overflow: hidden;

      &--link {
        background-image: url("../images/linkedin.svg");
      }
      &--beh {
        background-image: url("../images/logo-behance.svg");
      }
    }
  }
}

.line {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);

  z-index: 50;
  // stroke-dasharray: 990;
  // stroke-dashoffset: 990;
  // animation: dash 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
// footer {
//   grid-area: footer;
//   padding: 2rem;
//   background: var(--dark-grey);
//   font-size: 1.8rem;
//   text-align: center;
//   color: white;
// }
.hide-red {
  display: inline-block;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: var(--color-red);
  right: 20%;
  top: 0;

  // background-color: blue;
}

.hide-bar {
  display: inline-block;
  width: 300px;
  height: 50vh;
  position: absolute;
  background-color: var(--color-red);
  right: 0;
  bottom: 0;
  z-index: 55;
  // background-color: blue;
}

.hide-bar2 {
  display: inline-block;
  width: 300px;
  height: 50vh;
  position: absolute;
  background-color: var(--color-red);
  right: 0;
  top: 0;
  z-index: 55;
  // background-color: blue;
}
.line-anim {
  animation-name: line;
  animation-duration: 1.4s;
  animation-timing-function: "ease-in-out";
  animation-fill-mode: forwards;
}

@keyframes line {
  90% {
    opacity: 1;
  }
  100% {
    margin-left: 500px;
    opacity: 0;
  }
}

.section--3 {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease-out, opacity 0.3s;

  & .content-3 {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto 0 auto;
    gap: 50px;

    & li:hover:nth-child(1) {
      box-shadow: -10px -10px 15px -14px #fff;
    }
    & li:hover:nth-child(2) {
      box-shadow: 0px -10px 15px -14px #fff;
    }
    & li:hover:nth-child(3) {
      box-shadow: 10px -10px 15px -14px #fff;
    }
    & li:hover:nth-child(4) {
      box-shadow: -10px 10px 15px -14px #fff;
    }
    & li:hover:nth-child(5) {
      box-shadow: -10px 10px 15px -14px #fff;
    }
    & li:hover:nth-child(6) {
      box-shadow: 10px 10px 15px -14px #fff;
    }

    &:hover {
      .figure img {
        filter: grayscale(0.3) brightness(50%);
      }
    }

    & li {
      flex-grow: 1;

      & a {
        &:hover {
          .figure img {
            transform: scale(1.1);

            filter: brightness(100%) grayscale(0);
          }
          .projet-name {
            opacity: 1;
          }
        }
      }
    }
  }

  & .figure {
    height: 40vh;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    transition: transform 0.7s, filter 0.7s ease-in-out;

    & figcaption {
      font-size: 24px;
      letter-spacing: 1.3px;
      font-weight: 700;
    }

    & img {
      // display: block;

      // transition: 0.3s;
      // object-fit: cover;
      // max-width: 100%; /* 2 */
      // height: auto;
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
      filter: brightness(50%);
      transition: transform 0.7s, filter 0.7s ease-in-out;
    }

    & .projet-name {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 25px 15px 15px;
      width: 100%;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      color: white;
      opacity: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 25%,
        rgba(255, 255, 255, 0) 100%
      );
      transition: 0.3s;
    }
  }
}

.projet-ap {
  width: 300px;
  height: 700px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: bigimg 0.3s ease-in forwards;
}

.blur {
  filter: blur(0px);
  animation: blur 0.3s ease-in forwards;
}

@keyframes blur {
  100% {
    filter: blur(15px);
  }
}
@keyframes bigimg {
  100% {
    opacity: 1;
  }
}

.test {
  display: flex;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-family: nunito sans-serif;
  line-height: 1.4;
  transform: translate(50%, -50%);

  .info-content {
    max-width: 500px;
    padding-left: 50px;
  }

  .info-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    position: relative;

    & img {
      max-height: 700px;
    }
  }

  h3 {
    font-size: 4rem;
    margin-bottom: 15px;
  }

  .button-info {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url("../images/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    position: fixed;
    fill: blue;
    top: 35px;
    right: 20px;
    z-index: 90;

    outline: none;
  }
}

.display {
  display: none;
}
