@import "variables";
@import "reset";
@import "classes";
@import "media-queries";
@import "utils";
@import "base";
@import "titles";
@import "buttons";

.body {
  position: relative;
  width: 200vw;
  overflow-x: hidden;
  overflow-y: hidden;

  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
}

.flex-section {
  display: flex;
}

.section {
  width: 100vw;
}

.section--1 {
  background-color: var(--color-red);

  color: var(--color-white);
  position: relative;

  .flex-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-1 {
  }
}

.section--2 {
  background-color: var(--color-black);
  position: relative;
  height: 100vh;

  .content-2 {
  }

  .flex-2 {
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include xl {
      flex-direction: row;
      flex-wrap: wrap;
      width: 70vw;
      max-width: 800px;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: 0 auto;
      height: 100vh;
    }
  }
}

.nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  color: var(--color-white);
  z-index: 1;
  transition: transform 0.4s var(--ease), opacity 0.4s;

  @include md {
    width: 50vw;
  }

  .flex-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .nav-content {
    width: 90%;
    margin: 0 auto 0 auto;
    padding-top: 30%;

    @include sm {
      width: 70%;
    }

    @include xl {
      width: 60%;
      padding-top: 150px;
    }

    p {
      padding-top: 25px;
      font-size: 1.8rem;
      font-family: var(--font-familyL);
      letter-spacing: 1.4px;
      line-height: 1.4;
      @include sm {
        max-width: 500px;
      }
    }
    h2 {
      @include xl {
        font-size: 7rem;
        margin-bottom: 50px;
      }
    }
  }

  .footer {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 90%;
    margin: 0 auto 0 auto;
    font-family: var(--font-familyL);
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid var(--color-white-ligth);
  }

  .nav-list {
    padding-top: 45px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    display: inline-flex;
    flex-direction: column;

    @include sm {
      padding-top: 75px;
    }

    &__el {
      padding: 9px 0px;
      border-bottom: 1px solid var(--color-white);

      @include sm {
        padding: 20px 0 25px 0;
      }
      &:first-child {
        margin-bottom: 15px;

        @include sm {
          margin-bottom: 25px;
        }
      }
      a {
        transition: transform 0.3s, opacity 0.25s ease-in-out;
        @include sm {
          font-size: 2.4rem;
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.projet {
  &__el {
    height: 50vh;

    @include xl {
      width: 25vw;
      height: 25vw;
      max-width: 400px;
      max-height: 400px;
    }

    .figure {
      height: 50vh;

      overflow: hidden;
      position: relative;
      transition: transform 0.7s, filter 0.7s ease-in-out;

      @include sm {
        width: 75vw;
        margin: 0 auto;
      }

      @include md {
        width: 50vw;
      }

      @include xl {
        width: 25vw;
        height: 25vw;
        max-height: 400px;
        max-width: 400px;
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px 15px 15px;
        width: 100%;
        font-family: "Raleway", sans-serif;
        font-size: 1.6rem;
        color: white;
        opacity: 0;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 25%,
          rgba(255, 255, 255, 0) 100%
        );
        transition: 0.3s;
        text-transform: uppercase;

        @include sm {
          font-size: 2.4rem;
        }
      }
    }
  }
}

.projet__el {
  .figure img {
    transition: transform 0.7s, filter 0.7s ease-in-out;
    height: 50vh;
    width: 100vw;
    object-fit: cover;

    @include xl {
      height: 25vw;
      width: 25vw;
      max-width: 400px;
      max-height: 400px;
    }
  }
  a {
    &:hover {
      .figure img {
        transform: scale(1.1);
        transition: transform 0.7s, filter 0.7s ease-in-out;
      }
      figcaption {
        opacity: 1;
      }
    }
  }
}

.nav--close {
  transform: translate(-100%);
}

.info {
  width: 100vw;
  height: 100vh;
  color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  .content-info {
    @include xl {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }
    img {
      width: 100vw;
      height: 250px;
      object-fit: cover;

      @include sm {
        height: 450px;
      }

      @include xl {
        width: 300px;
        height: 600px;
      }
    }

    div {
      width: 90%;
      margin: 0 auto 0 auto;

      @include md {
        width: 70%;
      }
      @include xl {
        width: 600px;
        margin: 0 0 0 50px;
      }
      h2 {
        padding-bottom: 25px;

        @include sm {
          padding-top: 50px;
          font-size: 5rem;
        }

        @include md {
          font-size: 7rem;
          padding-bottom: 50px;
        }
      }
      h3 {
        font-size: 1.8rem;
        letter-spacing: 1.8px;

        @include sm {
          font-size: 2.2rem;
          margin-bottom: 30px;
        }

        @include md {
          font-size: 3rem;
        }
      }
      p {
        font-family: var(--font-familyL);
      }
      a {
        display: inline-block;
        margin-top: 25px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        padding: 9px 15px 8px 15px;
        border: 1px solid var(--color-white);

        @include sm {
          margin-top: 45px;
          font-size: 2.4rem;
          padding: 15px 35px 14px 35px;
        }

        @include md {
          margin-top: 45px;
          margin-top: 60px;
        }
      }
    }
  }
}
